body {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    font-weight: 100;
    box-sizing: border-box;
    margin: 0;
    min-height: 100vh;
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
}

 .banner {
    width:fit-content;
    height:fit-content;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:gold;
    font-weight: bold;
    background-color: none;
    border-radius: 5px;

}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    width:fit-content;
    height:fit-content;
    border-width: 2px;
    border-style: none;
}

.card {
    width: 100px;
    height: 160px;
    margin: 5px;
    text-align: center;
    border:black;
    border-width: 2px;
    border-style: solid;
}

.border {
    margin-top: 5px;
    margin-bottom: 5px;
    width: fit-content;
    height:25px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight:bold;
    color:black;
    background-color: gold;
    border-radius: 5px;
}
.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    width:fit-content;
    height:fit-content;
    margin-top: 100px ;
}
.button {
    cursor: grab;
    text-align: center;
    margin: 25px;
    width: 120px; 
    height: 60px; 
    font-family: 'Times New Roman', Times, serif;
    font-size: large; 
    background-color: gold;
    border: 4px solid black;
    border-radius: 5px;
}
.button:hover {
    background-color: gold;
    border-color: gold;
}
#message {
    margin-top: 50px;
    margin-bottom: 5px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: bold;
    color:black;
    background-color: gold;
    border-radius: 5px;
}

.dealer-score {
    position: absolute;
    top: 60px;
    left: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: bold;
    color: black;
    background-color: gold;
    padding: 10px 40px;
    border-radius: 5px;
    border: 4px solid black;
    border-radius: 5px;
}

.player-score {
    position: absolute;
    top: 650px;
    left: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: bold;
    color: black;
    background-color: gold;
    padding: 10px 40px;
    border-radius: 5px;
    border: 4px solid black;
    border-radius: 5px;
}